@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growVideo {
    from {
      transform: scale(0.7);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }
  
  .animate-growVideo {
    animation: growVideo 0.5s ease-out forwards;
  }
  
  .animate-fadeOut {
    animation: fadeOut 1s ease-out forwards;
  }
  